asgiref==3.8.1
cloudinary==1.40.0
cryptography==3.4.8
dj-database-url==0.5.0
dj-rest-auth==2.1.9
Django==3.2.4
django-allauth==0.54.0
django-cloudinary-storage==0.3.0
django-cors-headers==4.3.1
django-extensions==3.2.3
django-filter==2.4.0
django-rest==0.8.7
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
djangoviz==0.1.1
graphqlclient==0.2.4
graphviz==0.20.3
gunicorn==22.0.0
oauthlib==3.2.2
Pillow==8.2.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
pydot==1.4.2
PyJWT==2.8.0
pyparsing==3.1.2
python3-openid==3.2.0
pytz==2021.1
requests-oauthlib==2.0.0
sqlparse==0.5.0
